[Unit]
Description=Scale WEB Server
[Service]
User=reporter

PIDFile=/opt/scale-server/service.pid
WorkingDirectory=/opt/scale-server

ExecStart=/opt/scale-server/scale-server.sh
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
