[Unit]
Description=Scale WEB Server
[Service]
User=reporter
# The configuration file application.properties should be here:
#change this to your workspace
PIDFile=/opt/scale-server/service.pid
WorkingDirectory=/opt/scale-server
#path to executable.
#executable is a bash script which calls jar file
ExecStart=/opt/scale-server/scale-server.sh
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
