<div class="container-fluid">
  <div>
    <table class="table table-hover table-striped m-0">
      <thead>
      <tr>
        <th rowspan="2" class="vcenter text-center" width="8.33%">Гос. номер</th>
        <th rowspan="2" class="vcenter text-center" width="8.33%">Вид груза</th>
        <th colspan="3" class="vcenter text-center _no-border-bottom">Фактическая масса</th>
        <th colspan="2" class="vcenter text-center _no-border-bottom">Дата/Время</th>
        <th rowspan="2" class="vcenter text-center" width="8.33%">Погрузка</th>
        <th rowspan="2" class="vcenter text-center" width="8.33%">Разгрузка</th>
        <th rowspan="2" class="vcenter text-center" width="8.33%">Грузоотправитель</th>
        <th rowspan="2" class="vcenter text-center" width="8.33%">Грузополучатель</th>
        <th rowspan="2" class="vcenter text-center" width="8.33%">Грузоперевозчик</th>
      </tr>
      <tr>
        <th class="text-center _no-border-top" width="8.33%">Брутто</th>
        <th class="text-center _no-border-top" width="8.33%">Тара</th>
        <th class="text-center _no-border-top" width="8.33%">Нетто</th>
        <th class="text-center _no-border-top" width="8.33%">Брутто</th>
        <th class="text-center _no-border-top" width="8.33%">Тара</th>
      </tr>
      </thead>
    </table>
  </div>

  <div class="scroll-body" (scroll)="more($event)">
      <table class="table table-hover table-striped">
        <tbody *ngFor="let weight of weights | keyvalue">
        <tr>
          <td colspan="12" class="group-header">{{weight.key | date:'dd.MM.yyyy' }}</td>
        </tr>
        <tr *ngFor="let item of weight.value">
          <td class=" text-center vcenter cursor-pointer" width="8.33%">
            <a (click)="showAdvanced($event, item)">{{item['carNom']}}</a>
          </td>
          <td class=" text-center vcenter" width="8.33%">{{item['cargo']}}</td>
          <td class=" text-center vcenter" width="8.33%">{{item['gross']}}</td>
          <td class=" text-center vcenter" width="8.33%">{{item['tare']}}</td>
          <td class=" text-center vcenter" width="8.33%">{{item['netto']}}</td>
          <td class=" text-center vcenter" width="8.33%">{{item['dateGross'] | date:'dd.MM.yyyy HH:mm:ss'}}</td>
          <td class=" text-center vcenter" width="8.33%">{{item['dateTare'] | date:'dd.MM.yyyy HH:mm:ss'}}</td>
          <td class=" text-center vcenter" width="8.33%">{{item['loading']}}</td>
          <td class=" text-center vcenter" width="8.33%">{{item['unloading']}}</td>
          <td class=" text-center vcenter" width="8.33%">{{item['sender']}}</td>
          <td class=" text-center vcenter" width="8.33%">{{item['addressee']}}</td>
          <td class=" text-center vcenter" width="8.33%">{{item['cargoCarrier']}}</td>
        </tr>
        </tbody>
    </table>
  </div>
  <div>
    <table class="table table-hover table-striped">
      <tfoot>
      <tr>
        <td colspan="2" class=""><b class="footer-font-size" width="8.33%">Всего за указанный период:</b></td>
        <td colspan="1" class=""><b class="footer-font-size" width="8.33%">Брутто: {{total.totalGross}} т.</b></td>
        <td colspan="1" class=""><b class="footer-font-size" width="8.33%">Тара: {{total.totalTare}} т.</b></td>
        <td colspan="1" class=""><b class="footer-font-size" width="8.33%">Нетто: {{total.totalNetto}} т.</b></td>
        <td colspan="7" class=""><b class="footer-font-size" width="8.33%">Количество рейсов: {{ total.totalResult }}</b></td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
